* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(to top, #b5e8ff, #f2f0ff);
}

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #f6f2ff;
    padding: 3rem;
    border-radius: 0.45rem;
}

main * {
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    color: #252525;
}

main table {
    font-size: 1.75rem;

    margin: 2em;
    width: 100%;
    border-radius: 0.35em 0.35em 0 0 ;
    border-collapse: collapse;

    overflow: hidden;
}

table thead {
    font-size: 1.2em;
    background-color: #43ff5c;
    color: white;
}

table thead * {
    padding: 0.2em 0.8em;
}

table tbody td {
    padding: 0.4rem 0.75rem;
}


table tbody tr:nth-child(even) {
    background-color: #cecfce;
}

table tbody tr:hover td {
    color: #2c963a;
}